.dockBar {
  position: absolute;
  left: 50%;
  bottom: 25px;
  transform: translateX(-50%);
  width: 900px;
  height: 80px;
  background: gray;
  opacity: 0.8;
  border-radius: 20px;
}

.dockContent {
  position: absolute;
  width: 900px;
  height: 80px;
  text-align: center;
  padding: auto;
  bottom: 23px;
  left: 140px;
}

.dockImage {
  width: 65px;
  margin-left: 15px;
  margin-top: 6px;
}

.dockImage:hover {
  transform: scale(1.2);
  transition: ease 0.3s;
}
